{% layout '../index-layout.liquid', title: 'Intern Insert Form' %}
    {% block content %}
        <form 
            action="/add-mentor" 
            method="post"
            class="form"
        >
            <p class="form__info">
                Fill in  the following to update Mentors Table
            </p>

            <input
                type="hidden"
                name="csrfToken"
                value={{ csrfToken }}
            />
    
            <div class="form__item">
                <label 
                    for="mentor_first_name" 
                    class="form__label"
                >
                    First Name:
                </label>
                <br />
                <input 
                    type="text" 
                    id="mentor_first_name" 
                    name="firstName"
                    class="form__input"
                />
            </div class="form__item">
        
            <div class="form__item">
                <label 
                    for="mentor_last_name" 
                    class="form__label"
                >
                    Last Name:
                </label>
                <br />
                <input 
                    type="text" 
                    id="mentor_last_name" 
                    name="lastName"
                    class="form__input"
                />
            </div>
        
            <div class="form__item">
                <label 
                    for="mentor_specialty-area-id" 
                    class="form__label"
                >
                    Specialty Area ID:
                </label>
                <br />
                <input 
                    type="number" 
                    id="mentor_specialty-area-id" 
                    name="specialtyAreaId"
                    class="form__input" 
                />
            </div>
        
            <div class="form__item">
                <label 
                    for="mentor_email" 
                    class="form__label"
                >
                    Email:
                </label>
                <br />
                <input 
                    type="email" 
                    id="mentor_email" 
                    name="email"
                    class="form__input" 
                />
            </div>
            
            <div class="form__item">
                <label 
                    for="mentor_phone" 
                    class="form__label"
                >
                    Phone No:
                </label>
                <br />
                <input 
                    type="tel" 
                    id="mentor_phone" 
                    name="phone" 
                    class="form__input"
                />
            </div>
                    
            <div class="form__item">
                <button 
                    type="submit" 
                    class="form__button"
                >
                    Insert Mentor
                </button>
            </div>
        </form>
    {% endblock %}