{% layout '../index-layout.liquid', title: 'Mentor Students' %}
    {% assign students = this.getMentorStudents %}

    {% block content %}
        <div class="mentor-students">               
            <ul class="mentors-students__list">
                {% for student in students %}
                    <li class="mentors-students__student">
                        {{ student.firstName }} {{ student.lastName }} 
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}