{% layout '../index-layout.liquid', title: 'Mentor Page' %}
    {% assign mentor = this.getMentor %}

    {% block content %}
        <div class="mentor">
            <p class="mentor__detail">Mentor Name: {{ mentor.firstName }} </p>
            <p class="mentor__detail">Mentor Email: {{ mentor.email }} </p>
            <p class="mentor__detail">Mentor Contact {{ mentor.phone }} </p>       
        </div>
    {% endblock %}