{% layout './index-layout.liquid', title: 'Task Page' %}
    {% assign task = this.getTask %}

    {% block content %}
        <div class="task">
            <p class="task__id">Task Id: {{ task.id }}  </p>
            <p class="task__desc">Task Description: {{ task.description }} </p>
        </div>
    {% endblock %}
