{% layout './index-layout.liquid', title: 'Specialty Area Page' %}
    {% assign specialtyArea = this.getSpecialtyArea %}

    {% block content %}
        <div class="specialty-area">
            <p class="specialty-area__id">SpecialtyArea Id: {{ specialtyArea.id }} </p>
            <p class="specialty-area__title">SpecialtyArea Title: {{ specialtyArea.title }} </p>
            <p class="specialty-area__class-size">SpecialtyArea Class size: {{ specialtyArea.classSize }}</p>
        </div>
    {% endblock %}




